@use '../../../styles/index.scss' as main;

.container {
    @include main.flexBox(column, center, center);

    height: 100vh;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    background-color: rgba(200, 200, 200, 0.5);

    .messageBox {
        @include main.flexBox(column, center, center);

        height: 200px;
        width: 300px;

        background-color: red;

        .header {
        }

        .message {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .confirmBtn {
            width: 100px;
            height: 30px;
        }        
    }

}