//VARIABLES

//color scheme
$basic-primary: rgb(8, 201, 250);
$primary-background: #17171f;
$primary-text: #EBE6E6;



//MIXIN STYLES
@mixin flexBox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;    
}

@mixin gridBox($columns, $rows, $justify, $align) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-items: $justify;
    align-items: $align;
}

@mixin containerDefault {
    height: 100vh;
    width: 100%;
}

@mixin defaultTitleMargin {
    margin-top: 100px;
    margin-bottom: 60px;
}

//RESETS - DEFAULTS
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: $primary-text;
}

html, body, div {
    background-color: $primary-background;
}

input, select, option, button, textarea {
    color: $primary-background;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

