@use '../../../styles/index.scss' as main;

.container {
    @include main.flexBox(column, center, center);
    @include main.containerDefault;

    .loginForm {
        @include main.flexBox(column, center, center);

        .usernameInput {
            width: 17rem;
            height: 3rem;
        }

        .passwordInput {
            width: 17rem;
            height: 3rem;

            margin: 5px 0 30px 0;
        }

        .loginButton {
            width: 14rem;
            height: 3rem;

            margin-bottom: 10px;
        }

        .registerButton {
            width: 14rem;
            height: 3rem;
        }
    }
}