@use '../../../styles/index.scss' as main;

.container {
    @include main.flexBox(column, flex-start, center);
    @include main.containerDefault;

    .mainMenuBtns {
        @include main.gridBox(1fr 1fr, auto, center, center);
        margin-top: 5rem;

        .menuNavBtn {
            @include main.flexBox(column, center, center);

            aspect-ratio: 1/1;
            height: 9rem;

            margin: 1rem 1rem;

            border: solid white;
        }
    }
}